<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>

<body>
<div class="container">

    <div class="row"><h2>Patient List</h2></div>
    <div class="row">

        <a href="/web/patient/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Family Name</th>
                <th>Given Name</th>
                <th>Birth Date</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            </tr>
            <tr th:each="patient: ${listPatients}">
                <td><span th:text="${patient.patientId}"> Id </span></td>
                <td><span th:text="${patient.family}"> Family Name </span></td>
                <td><span th:text="${patient.given}"> >Given Name </span></td>
               <!-- <td><span th:text="${patient.dob}"> Birth Date </span></td> -->
                 <td><span th:text="${#dates.format(patient.dob, 'yyyy-MMM-dd')}"> Birth Date </span></td>
                <td><span th:text="${patient.sex}"> Sex </span></td>
                <td><span th:text="${patient.address}"> Address </span></td>
                <td><span th:text="${patient.phone}"> Phone </span></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/web/patient/update/{id}(id=${patient.patientId})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/web/patient/delete/{id}(id=${patient.patientId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>